/* css styles */
/*#008cc3 mirai blue*/
/* bg img https://github.com/miraisolutions/miraisolutions.github.io/blob/master/assets/images/illu-header-data.png */

/* Font */
body, h1, h2, h3, h4, h5, h6 {
  /*
  Note: the Mirai website (Frutiger) is not availaible
  We specify Arial first, which makes the displayed font on Firefox closer to
  what Chrome displays
  (Chrome was the brower used in preparation for and thuring the workshop)
  */
  font-family: Arial,Helvetica,sans-serif !important;
}
/*
table, th, td {
  white-space: nowrap; font-size: .9em;
}
tbody {
  white-space: nowrap; font-size: .9em;
}
/

body {
  /*
  Firefox seems to have a wider default for this font, so we explicitly set it
  to 1.16, which is what Chrome seems to use as default
  (Chrome was the brower used in preparation for and during the workshop)
  https://stackoverflow.com/questions/31386307/css-line-height-not-the-same-in-firefox-and-chrome
  */
  line-height: 1.16;
}

h1, h2, h3, h4, h5 {
  color: #008cc3 !important;
}

/*links*/
a {
  color: #008cc3 !important;
}

$font-size-root: 25pt;

/* Footer */
div.my-footer {
    background-color: #F8F8F8; /* light gray */
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 30px;
    width: 100%;
    background-repeat: no-repeat;
    background-image: url("./img/mirai-solutions-logo-flyer.png");
    background-size: 80px; /*fixed width proportional heigth */
    background-position: 98%;
}
div.my-footer span {
    font-size: 10pt;
    color: #808080; /* gray */
    position: absolute;
    left: 15px;
    bottom: 7px;
}

/*Mirai styled inverse slide*/
.inverse {
  background-color: #008cc3;
}



.inverse h1, .inverse h2, .inverse h3, .inverse h4, .inverse h5, .inverse h6 {
  color: #f3f3f3 !important; /*xaringan default*/
}


.inverse div.my-footer span {display:none;}
.inverse div.my-footer {display:none;}


/*big bullets */
ul {
  list-style-type: disc;
  margin-left:30px !important;
  padding: 0px !important;
}
/*More spaces between bullets */
ol li, ul li {
margin-bottom: 0.5em !important;
}


/* Reduce fig caption size */
p.caption {
  font-size: 0.5em;
}
/* Reduce fig table size
p.table {
  font-size: 0.5em;
}*/

/*Center text */
.pull-middle {
  text-align: center;
}

/*reduce font size*/
.fontsize08 {
  font-size: 0.8em;
}

.scroll-box-8 {
  height:8em;
  overflow-y: scroll;
}
.scroll-box-10 {
  height:10em;
  overflow-y: scroll;
}
.scroll-box-12 {
  height:12em;
  overflow-y: scroll;
}
.scroll-box-14 {
  height:14em;
  overflow-y: scroll;
}
.scroll-box-16 {
  height:16em;
  overflow-y: scroll;
}
.scroll-box-18 {
  height:18em;
  overflow-y: scroll;
}
.scroll-box-20 {
  height:20em;
  overflow-y: scroll;
}
.scroll-output {
  height: 90%;
  overflow-y: scroll;
}

.row {
  display: flex;
}

/* Code blocks aligned to the slide content instead of starting from the left slide left edge  */


/* Dynamic code blocks width when wrapped in a <div>
div > .sourceCode {
  display: inline-table; /* note that inline-block would leave extra space after the code block
  display: flex;
  flex-wrap:wrap;
  white-space: pre-wrap;
} */
/*
.sourceCode {
  width: unset;
  /*width: unset; */
  /*font-size: 16pt;
  font-family: 'Source Code Pro';
  text-align: left; /* in view of the centered-code container */
 /*}*/
